################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ORV_StreznikApp/v15/Server/sqlite3
/.vs/ORV_StreznikApp/v15/.suo
